*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}
#head{
    background-image: url(newd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid red; */
    height: 700px;
}
.list{
    /* border: 1px solid blue; */
    /* display: flex; */
    margin-right: 100px;
    
}
.list a{
    /* font-size: 20px; */
}
.list ol{
    list-style: none;
    display: flex;
    width: 600px;
    justify-content: space-between;
    
}
a{
    text-decoration: none;
    /* color: black; */
    color:white;
}
#view{
    width: 400px;
    height: 300px;
    /* border: 1px solid blue; */
}
.ot-head{
    /* border: 1px solid red; */
    padding: 30px;
    /* text-align: center; */
    margin-top: 100px;
}
.ot-head h1{
    font-size: 45px;
}
.ot-head p{
    font-size: 18px;
}
.ot-head button{
    height: 50px;
    width: 150px;
    background-color: black;
    color: whitesmoke;
    border: 1px solid black;
    border-radius: 15px;
}
.nav{
    /* border: 1px solid blue; */
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#about{
    /* border: 1px solid blue; */
}
.abt{
    /* border: 1px solid red; */
    text-align: center;
    margin-top: 20px;
}
.abt h3{
    font-size: 35px;
}
.my-img{
    text-align: center;

}
.about-me{
    text-align: center;
    padding: 20px;
    font-size: 18px;
    /* border: 1px solid blueviolet; */
    margin-top: 40px;
}
#hat{
    width: 300px;
    height: 300px;
}
#gtk{
    /* border: 1px solid blue; */
    height: 300px;
    padding: 30px;
    text-align: start;
    display: flex;
    margin-top: 50px;
}
#gtk button{
    width: 150px;
    height: 40px;
    color: white;
    background-color: black;
}
.gtk-two{
    margin-left: 200px;
}
.projects{
    /* border: 1px solid red; */
    padding: 30px;
    text-align: center;
    font-size: 18px;
}
.projects h3{
    font-size: 35px;
}
.blog{
    /* border: 1px solid green; */
    padding: 30px;
    text-align: center;
    font-size: 18px;
}
.blog h3{
    font-size: 35px;
}
#content{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    height: 300px;
    padding: 30px;
}
.cont-one{
    border: 3px solid black;
    width: 28%;
    height: 250px;
    padding: 20px;
    font-size: 18px;

}
.cont-one:hover{
    scale: 1.03;
}
#kay{
    width: 130px;
    height: 70px;
    margin-left: 70px;
}
#tabs{
    /* border: 1px solid blue; */
    padding: 30px;
    display: flex;
    /* height: 1500px; */
    justify-content: space-between;
}
.proj-one{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    height: 100%;


}
#tabs button{
    background-color: black;
    color: white;
    width: 200px;
    height: 40px;
    border-radius: 10px;
}
.contact-form{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    height: 900px;
    align-items: center;
    font-size: 18px;
    background-color: black;
}
.c-about{
    /* border: 1px solid green; */
    width: 50%;
    height: 150px;
    color: gainsboro;
    padding: 30px;
    text-align: center;
    
}
.c-form{
    /* border: 1px solid blue; */
    width: 50%;
    /* text-align: center;r */
    padding: 30px;
    height: 550px;
    background-color: white;
}
.c-form input{
    /* width: 630px; */
    width: 100%;
    height: 60px;
    border-radius: 5px;
    background-color: gainsboro;
    border: none;
    font-size: 18px;
    padding: 20px;
    /* text-align: start; */
}
@media screen and (max-width: 768px){
    .ot-head{
        text-align: center;
        padding: 30px;
        margin-top: 90px;
    }
    .list{
        display: none;
    }
    #gtk{
        flex-direction: column;
        text-align: start;
        height: 550px;
    }
    .projects{
        margin-top: 100px;
    }
    .gtk-two{
        margin-top: 50px;
        /* border: 1px solid red; */
        margin-left: 0;
    }
    #tabs{
        flex-direction: column;
        height: 700px;
        padding: 30px;
    }
    #content{
        flex-direction: column;
        height: 900px;
    }
    .cont-one{
        width: 350px;
        height: 230px;
    }
    .contact-form{
        /* border: 1px solid red; */
        width: 100%;
    }
    .c-about{
        width: 90%;
    }
    .c-form{
        width: 75%;
        margin-top: 50px;
    }
    #content{
        /* border: 1px solid red; */
        align-items: center;
    }
    #tabs{
        height: 1500px;
        justify-content: center;
    }

}